<!-- options to perform relative entropy iterations -->
<cg>
  <!-- non-bonded interaction entry -->
  <non-bonded>
    <!-- name of the interaction -->
    <name>CG-CG</name>
    <!-- specify type of CG pair -->
    <type1>CG</type1>
    <type2>CG</type2>
    <!-- min, max and step size distance for pot (max=cutoff) -->
    <min>0.0</min>
    <max>0.9</max>
    <step>0.002</step>
    <re>
      <!-- function form for the potential (lj126 or ljg or cbspl)-->
      <function>cbspl</function>
      <cbspl>
        <!-- no. of knots for cbspl function -->
        <nknots>48</nknots>
      </cbspl>
    </re>
    <inverse>
      <!-- target distribution (rdf), just give gromas rdf.xvg -->
      <target>CG-CG.dist.tgt</target>
      <gromacs>
        <!-- name of the table for gromacs run -->
        <table>table_CG_CG.xvg</table>
      </gromacs>
      <!-- do convergence -->
      <post_add>acc_convergence average</post_add>
      <post_add_options>
        <!-- convergence check options -->
        <convergence>
          <!-- for RE we check change in potentials/parameters (new-cur) -->
          <what>pot</what>
          <weight>1.0</weight>
          <base>cur</base>
          <norm>2</norm>
        </convergence>
        <average>
          <what>param pot</what>
        </average>
      </post_add_options>
   </inverse>
  </non-bonded>
  <inverse>
    <!-- System T = 300*0.00831451 kBT units -->
    <kBT>2.4942</kBT>
    <!-- use gromacs as simulation program -->
    <program>gromacs</program>
    <!-- gromacs specific options -->
    <gromacs>
      <!-- trash so many frames at the beginning -->
      <equi_time>20</equi_time>
      <!-- grid for table*.xvg !-->
      <table_bins>0.002</table_bins>
      <!-- cut the potential at this value (gromacs bug) -->
      <pot_max>1000000</pot_max>
      <!-- extend the tables to this value -->
      <table_end>2.5</table_end>
    </gromacs>
    <!-- these files are copied for each new run -->
    <filelist>grompp.mdp topol.top table.xvg index.ndx</filelist>
    <!-- do so many iterations -->
    <iterations_max>300</iterations_max>
    <!-- ibi: inverse biltzmann imc: inverse monte carlo re: relative entropy-->
    <method>re</method>
    <!-- scaling parameter for the update-->
    <scale>0.5</scale>
    <!-- convergence check options -->
    <convergence_check>
      <type>default</type>
      <limit>0.0001</limit>
    </convergence_check>
    <average>
      <steps>50</steps>
    </average>
    <!-- directory for user scripts -->
    <scriptdir></scriptdir>
  </inverse>
</cg>

