<topology>
	<molecules>
		<molecule>
			<mdname>C4H4S1</mdname>
			<segments>
				<segment>
					<name>thiophene</name>
					<qm_coords_n>QC_FILES/thiophene_n.xyz</qm_coords_n>
                    <qm_coords_e>QC_FILES/thiophene_e.xyz</qm_coords_e>
                    <qm_coords_h>QC_FILES/thiophene_h.xyz</qm_coords_h>
					<multipoles_n>MP_FILES/thiophene_n.mps</multipoles_n>
                    <multipoles_n>MP_FILES/thiophene_n.mps</multipoles_n>
                    <multipoles_n>MP_FILES/thiophene_n.mps</multipoles_n>
					<map2md>0</map2md>
					<U_xX_nN_h>REORG1_hole</U_xX_nN_h>
					<U_nX_nN_h>REORG2_hole</U_nX_nN_h>
					<U_xN_xX_h>REORG3_hole</U_xN_xX_h>
					<fragments>
						<fragment>
							<name>thiophene</name>
							<mdatoms> 0:C63:0 0:C63:1 0:S23:2 0:C63:3 0:C63:4 0:H20:5 0:H20:6 0:H20:7 0:H20:8</mdatoms>
							<qmatoms> 0:C 1:C 2:S 3:C 4:C 5:H 6:H 7:H 8:H </qmatoms>
							<mpoles>  0:C 1:C 2:S 3:C 4:C 5:H 6:H 7:H 8:H</mpoles>
							<weights> 12 12 32 12 12 1 1 1 1</weights>
							<localframe>1 2 3</localframe>
						</fragment>
					</fragments>
				</segment>
			</segments>
		</molecule>
	</molecules>
</topology>
