<topology>
	<molecules>
		<molecule>
			<mdname>C4H4S1</mdname>
			<segments>
				<segment>
					<name>thiophene</name>
					<qmcoords_n>QC_FILES/thiophene_n.xyz</qmcoords_n>
                    <qmcoords_e>QC_FILES/thiophene_e.xyz</qmcoords_e>
                    <qmcoords_h>QC_FILES/thiophene_h.xyz</qmcoords_h>
					<multipoles_n>MP_FILES/thiophene_n.mps</multipoles_n>
                    <multipoles_e>MP_FILES/thiophene_e.mps</multipoles_e>
                    <multipoles_h>MP_FILES/thiophene_hUnN.mps</multipoles_h>
					<map2md>0</map2md>
					<U_xX_nN_h>8.7140</U_xX_nN_h>
					<U_nX_nN_h>0.1908</U_nX_nN_h>
					<U_xN_xX_h>0.5711</U_xN_xX_h>
                    <U_xX_nN_e>1.5972</U_xX_nN_e>
					<U_nX_nN_e>0.1940</U_nX_nN_e>
					<U_xN_xX_e>0.1879</U_xN_xX_e>
					<fragments>
						<fragment>
							<name>thiophene</name>
							<mdatoms> 0:C63:0 0:C63:1 0:S23:2 0:C63:3 0:C63:4 0:H20:5 0:H20:6 0:H20:7 0:H20:8</mdatoms>
							<qmatoms> 0:C 1:C 2:S 3:C 4:C 5:H 6:H 7:H 8:H </qmatoms>
							<mpoles>  0:C 1:C 2:S 3:C 4:C 5:H 6:H 7:H 8:H</mpoles>
							<weights> 12 12 32 12 12 1 1 1 1</weights>
							<localframe>1 2 3</localframe>
						</fragment>
					</fragments>
				</segment>
			</segments>
		</molecule>
	</molecules>
</topology>
