<cg>
  <nbsearch>grid</nbsearch>
  <!--fmatch section -->
  <fmatch>
    <!--Number of different CG beads in the system. SHOULD BE KICKED OUT!!! -->
    <constrainedLS>true</constrainedLS>
    <!--Number of frames for block averaging -->
    <frames_per_block>10</frames_per_block>
  </fmatch>

  <bonded>
    <name>bond</name>
    <min>0.0</min>
    <max>1.0</max>
    <step>0.001</step>
  </bonded>
  <bonded>
    <name>angle</name>
    <min>0.13159</min>
    <max>3.13159</max> <!-- beware of placing a bin at exaclty π, will result in half bin, leads to artifacts -->
    <step>0.02</step> <!-- instead set max to π - step/2 -->
  </bonded>

  <non-bonded>
    <name>A-A</name>
    <type1>A</type1>
    <type2>A</type2>
    <min>0</min>
    <max>3</max>
    <step>0.01</step>
  </non-bonded>

  <non-bonded>
    <name>B-B</name>
    <type1>B</type1>
    <type2>B</type2>
    <min>0</min>
    <max>3</max>
    <step>0.01</step>
  </non-bonded>

  <non-bonded>
    <name>A-B</name>
    <type1>A</type1>
    <type2>B</type2>
    <min>0</min>
    <max>3</max>
    <step>0.01</step>
  </non-bonded>
</cg>
