[submodule "tools"]
	path = tools
	url = ../tools.git
[submodule "csg"]
	path = csg
	url = ../csg.git
[submodule "csgapps"]
	path = csgapps
	url = ../csgapps.git
[submodule "moo"]
	path = moo
	url = ../moo.git
[submodule "kmc"]
	path = kmc
	url = ../kmc.git
[submodule "ctp"]
	path = ctp
	url = ../ctp.git
