*~
csg_*.man
csg_*.t2t
csg_*.help
libvotca*.a
libvotca*.so
libvotca*.so.*
Makefile
rules.ninja
build.ninja
.ninja_*
build
scripts/csg_call
scripts/csg_inverse
scripts/help2t2t
scripts/csg_inverse.t2t
scripts/*.out
share/doc/Doxyfile
share/doc/html/*
share/man/*.man
share/template/template_serial
share/template/template_threaded
share/xml/csg_defaults.xml
src/csg_boltzmann/csg_boltzmann
src/libcsg/version.cc
src/tools/csg_dump
src/tools/csg_fmatch
src/tools/csg_gmxtopol
src/tools/csg_map
src/tools/csg_property
src/tools/csg_resample
src/tools/csg_stat
src/tools/csg_part_dist
src/tools/csg_density
src/tools/csg_reupdate
src/tools/csg_dlptopol
share/scripts/inverse/*.pyc
__pycache__/
netbeans
src/libcsg/gitversion.h
src/libcsg/votca_config.h

netbeans/*/build
netbeans/*/dist
src/csg_boltzmann/build
*/nbproject/private
Makefile-variables.mk
Package-Debug.bash
Package-Release.bash
Package-profile_release.bash
netbeans/libcsg/nbproject/private/
CMakeFiles
cmake_install.cmake
cmake_uninstall.cmake
CMakeCache.txt
install_manifest.txt
netbeans/libcsg/nbproject/Makefile-Debug.mk
netbeans/libcsg/nbproject/Makefile-Release.mk
netbeans/libcsg/nbproject/Makefile-impl.mk
netbeans/libcsg/nbproject/Makefile-profile_release.mk


build*
