*~
Makefile

libvotca*.a
libvotca*.so
libvotca*.so.*

share/doc/html
share/doc/Doxyfile

include/votca/xtp/votca_config.h
src/libxtp/gitversion.h
include/votca/xtp/votca_config.h

src/tools/xtp_dump
src/tools/xtp_parallel
src/tools/xtp_map
src/tools/xtp_run
src/tools/xtp_tools
src/tools/xtp_overlap
src/tools/xtp_kmc_run
src/dipro/*.mod
src/dipro/*.x
src/tools/*.man

scripts/xtp_dipro.out
scripts/xtp_dipro
scripts/xtp_update
scripts/xtp_update.out
scripts/xtp_testsuite
scripts/xtp_testsuite.out
scripts/xtp_update_exciton
scripts/xtp_update_exciton.out
scripts/xtp_basisset
scripts/xtp_basisset.out
scripts/xtp_makeauxbasis
scripts/xtp_makeauxbasis.out

netbeans
.dep.inc
*/nbproject/private

CMakeFiles
cmake_install.cmake
CMakeCache.txt
install_manifest.txt

/build
