*~
.*.swp
*/*/step_*
*/*/*/step_*
*.orig

Makefile
rules.ninja
build.ninja
.ninja_*
build
.project
.cproject
CMakeFiles
install_manifest.txt
cmake_install.cmake
cmake_uninstall.cmake
CMakeCache.txt

topol.tpr
traj.trr
traj.xtc
traj_comp.xtc
md.log
mdout.mdp
state*.cpt
ener.edr
confout.gro
\#*

*.pot.*
!*.pot.in
*.force
angle.dist.*
bond.dist.*
*.log

**/atomistic/*.dist*.new
**/atomistic/conf_cg.gro
**/atomistic/energies/
