<cg>
  <!-- example for a non-bonded interaction entry -->
  <non-bonded>
    <!-- name of the interaction -->
    <name>CG-CG</name>
    <!-- types involved in this interaction -->
    <type1>CG</type1>
    <type2>CG</type2>
    <!-- dimension + grid spacing of tables for calculations -->
    <min>0</min>
    <max>0.9</max>
    <step>0.01</step>
    <inverse>
      <!-- target distribution (rdf), just give gromas rdf.xvg -->
      <target>CG-CG.dist.tgt</target>
      <!-- update cycles -->
      <do_potential>1</do_potential>
      <!-- additional post processing of dU before added to potential -->
      <post_update>smooth</post_update>
      <!-- some options for the post update scripts -->
      <post_update_options>
          <splinesmooth>
              <step>0.02</step>
          </splinesmooth>
          <smooth>
            <iterations>4</iterations>
          </smooth>
      </post_update_options>
      <!-- additional post processing of U after dU added to potential -->
      <post_add>acc_convergence plot</post_add>
      <post_add_options>
          <copyback>
	    <filelist>${name}.pot.new ${name}.dpot.new ${name}.dist.new</filelist>
          </copyback>
	  <convergence>
	    <weight>0.2</weight>
	    <what>dist</what>
	  </convergence>
	  <plot>
	    <script>allplots.gp</script>
	    <kill>gnuplot_x11</kill>
	    <gnuplot_opts>-geometry 1024x700 -persist</gnuplot_opts>
	  </plot>
      </post_add_options>
      <!-- name of the table for gromacs run -->
      <gromacs>
        <table>table_CG_CG.xvg</table>
      </gromacs>
      <!-- inverse monte carlo specific stuff -->
    </inverse>
  </non-bonded>
  
  <!-- general options for inverse script -->
  <inverse>
    <!-- 300*0.00831451 gromacs units -->
    <kBT>2.49435</kBT>
    <!-- use gromacs as simulation program -->
    <program>gromacs</program>
    <!-- gromacs specific options -->
    <gromacs>
      <!-- trash so many frames at the beginning -->
      <equi_time>1</equi_time>
      <!-- grid for table*.xvg !-->
      <table_bins>0.002</table_bins>
      <!-- cut the potential at this value (gromacs bug) -->
      <pot_max>1000000</pot_max>
      <!-- extend the tables to this value -->
      <table_end>2.0</table_end>
    </gromacs>
    <!-- these files are copied for each new run -->
    <filelist>grompp.mdp topol.top table.xvg index.ndx allplots.gp</filelist>
    <!-- do so many iterations -->
    <iterations_max>300</iterations_max>
    <!-- ibm: inverse biltzmann imc: inverse monte carlo -->
    <method>ibi</method>
  </inverse>
</cg>
