<cg>
  <!-- example for a non-bonded interaction entry -->
  <non-bonded>
    <!-- name of the interaction -->
    <name>CG-CG</name>
    <!-- types involved in this interaction -->
    <type1>CG</type1>
    <type2>CG</type2>
    <!-- dimension + grid spacing of tables for calculations -->
    <min>0.0</min>
    <max>0.9</max>
    <step>0.01</step>
    <inverse>
      <!-- target distribution (rdf)  -->
      <target>CG-CG.dist.tgt</target>
    </inverse>
  </non-bonded>
  
  <!-- general options for inverse script -->
  <inverse>
    <!-- 300*0.00831451 kJ/mol in dlpoly units, see FIELD -->
    <kBT>2.49435</kBT>
    <!-- use dlpoly as simulation program -->
    <program>dlpoly</program>
    <!-- dlpoly specific options -->
    <dlpoly>
      <table_bins>0.0002</table_bins>
      <table_end>0.9</table_end>
    </dlpoly>
    <initial_configuration>maindir</initial_configuration>
    <!-- these files are copied for each new run -->
    <filelist>CONFIG CONTROL FIELD</filelist>
    <!-- do so many iterations -->
    <iterations_max>300</iterations_max>
    <!-- ibi: inverse biltzmann imc: inverse monte carlo -->
    <method>ibi</method>
  </inverse>
</cg>
