#change the name here or run cmake -DNAME="XXX"
set(NAME "template_serial" CACHE STRING "Name of the csg app")

cmake_minimum_required(VERSION 3.10)

project(${NAME})

find_package(VOTCA_CSG REQUIRED NO_MODULE)

file(GLOB ${NAME}_SOURCES ${NAME}*.cc)
#add extra source files here
add_executable(${NAME} ${${NAME}_SOURCES})
target_link_libraries(${NAME} VOTCA::votca_csg)
install(TARGETS ${NAME} RUNTIME DESTINATION bin)
set_target_properties(${NAME} PROPERTIES OUTPUT_NAME csg_${NAME})
