<cg>
  <!-- example for a non-bonded interaction entry -->
  <non-bonded>
    <!-- name of the interaction -->
    <name>CG-CG</name>
    <!-- types involved in this interaction -->
    <type1>CG</type1>
    <type2>CG</type2>
    <!-- dimension + grid spacing of tables for calculations -->
    <min>0.24</min>
    <max>0.9</max>
    <step>0.01</step>
    <inverse>
      <!-- target distribution (rdf), just give gromas rdf.xvg -->
      <target>CG-CG.dist.tgt</target>
      <!-- this is for analysis only -->
      <!--density>
        <target>dens_CG_CG_aim.xvg</target>
        <min>0</min>
        <max>10.8</max>
        <step>0.2</step>
      </density-->
      <!-- update cycles -->
      <do_potential>1</do_potential>
      <!-- additional post processing of dU before added to potential -->
      <post_update></post_update>
      <!-- additional post processing of U after dU added to potential -->
      <post_add></post_add>
      <!-- name of the table for gromacs run -->
      <gromacs>
      <table>table_CG_CG.xvg</table>
      </gromacs>
      <optimizer>
        <target_weights>10 0.01</target_weights>
        <function>f(x)</function>
        <functionfile>function_CKDg.in</functionfile>
        <parameters>sig eps wc h p s</parameters>
        <targets>rdf pressure</targets>
         <rdf>
           <target>CG-CG.dist.tgt</target>
           <weight>f(x)</weight>
           <weightfile>function_rdf_weight.in</weightfile>
         </rdf>
       </optimizer>
       <p_target>1.0</p_target>
    </inverse>
  </non-bonded>
<inverse>  
<!-- general options for inverse script -->
     <initial_configuration>maindir</initial_configuration>
     <!-- 300*0.00831451 gromacs units -->
    <kBT>2.49435</kBT>
    <!-- use gromacs as simulation program -->
    <program>gromacs</program>
    <!-- gromacs specific options -->
    <gromacs>
      <pre_simulation>yes
          <mdp>grompp.prep.mdp</mdp>
      </pre_simulation>
      <!-- trash so many frames at the beginning -->
      <equi_time>20</equi_time>
      <!-- grid for table*.xvg !-->
      <table_bins>0.002</table_bins>
      <!-- cut the potential at this value (gromacs bug) -->
      <pot_max>1000000</pot_max>
      <!-- extend the tables to this value -->
      <table_end>3.0</table_end>
      <log>gromacs.log</log>
    </gromacs>
    <!-- these files are copied for each new run -->
    <filelist>grompp.prep.mdp grompp.mdp topol.top table.xvg index.ndx</filelist>
    <!-- do so many iterations -->
    <iterations_max>900</iterations_max>
    <!-- ibm: inverse boltzmann imc: inverse monte carlo -->
    <method>optimizer</method>
    <optimizer>
      <!-- put simplex or cma here -->
      <type>simplex</type>
      <cma>
	<eps>0.1</eps>
      </cma>
    </optimizer>
  </inverse>
</cg>
