<cg>
  <!-- example for a non-bonded interaction entry -->
  <non-bonded>
    <!-- name of the interaction -->
    <name>CG-CG</name>
    <!-- types involved in this interaction -->
    <type1>1</type1>
    <type2>1</type2>
    <!-- dimension + grid spacing of tables for calculations -->
    <min>0.0</min>
    <max>0.9</max>
    <step>0.01</step>
    <inverse>
      <!-- target distribution (rdf)  -->
      <target>CG-CG.dist.tgt</target>
      <lammps>
        <!-- name of the table for lammps run -->
	<table>CG_CG.pot</table>
	<table_begin>0.20</table_begin>
	<table_bins>0.002</table_bins>
      </lammps>
    </inverse>
  </non-bonded>
  
  <!-- general options for inverse script -->
  <inverse>
    <!-- 300*0.00831451 lammps units -->
    <kBT>2.49435</kBT>
    <!-- use lammps as simulation program -->
    <program>lammps</program>
    <!-- lammps specific options -->
    <lammps>
      <!-- lammps script to run !-->
      <script>spce.in</script>
      <!-- topology to be used by  csg_stat !-->
      <topol>spce.data</topol>
      <!-- traj file created by lammps !-->
      <traj>traj.dump</traj>
    </lammps>
    <initial_configuration>maindir</initial_configuration>
    <!-- these files are copied for each new run -->
    <filelist>spce.data spce.in</filelist>
    <!-- do so many iterations -->
    <iterations_max>300</iterations_max>
    <!-- ibi: inverse biltzmann imc: inverse monte carlo -->
    <method>ibi</method>
  </inverse>
</cg>
