<cg>
  <!-- example for a non-bonded interaction entry -->
  <non-bonded>
    <!-- name of the interaction -->
    <name>CG-CG</name>
    <!-- types involved in this interaction -->
    <type1>CG</type1>
    <type2>CG</type2>
    <!-- dimension + grid spacing of tables for calculations -->
    <min>0</min>
    <max>1.4</max>
    <step>0.002</step>
    <inverse>
      <!-- target distribution (rdf), just give gromas rdf.xvg -->
      <target>rdf_CG_CG_aim.xvg</target>
      <!-- update cycles -->
      <do_potential>1</do_potential>
      <!-- additional post processing of dU before added to potential -->
      <post_update></post_update>
      <!-- additional post processing of U after dU added to potential -->
      <post_add></post_add>
      <!-- name of the table for gromacs run -->
      <gromacs>
      <table>table_CG_CG.xvg</table>
      </gromacs>
      <lammps>
        <!-- name of the table for lammps run -->
	<table>CG_CG.pot</table>
	<table_begin>0.20</table_begin>
	<table_bins>0.002</table_bins>
      </lammps>
      <optimizer>
        <target_weights>1 0</target_weights>
	<function>4*eps*((sig/x)**12-(sig/x)**6)</function>
	<parameters>eps sig</parameters>
	<targets>rdf density</targets>
	 <rdf>
	   <target>rdf_CG_CG_aim.xvg</target>
	   <weight>(x>0.6)?0:1</weight>
	 </rdf>
         <density>
           <target>dens_CG_CG_aim.xvg</target>
           <min>0</min>
           <max>10.6</max>
           <step>0.2</step>
	   <axis>z</axis>
	   <molname>SOL</molname>
         </density>
      </optimizer>
    </inverse>
  </non-bonded>

<inverse>  
<!-- general options for inverse script -->
     <!-- 300*0.00831451 gromacs units -->
    <kBT>2.49435</kBT>
    <!-- use gromacs as simulation program -->
    <program>lammps</program>
    <!-- gromacs specific options -->
    <lammps>
      <!-- lammps script to run !-->
      <script>spce.in</script>
      <!-- topology to be used by  csg_stat !-->
      <topol>topol.xml</topol>
      <!-- traj file created by lammps !-->
      <traj>traj.xyz</traj>
    </lammps>
    <initial_configuration>maindir</initial_configuration>
    <gromacs>
      <pre_simulation>yes
	  <mdp>grompp.prep.mdp</mdp>
      </pre_simulation>
      <!-- trash so many frames at the beginning -->
      <equi_time>0</equi_time>
      <!-- grid for table*.xvg !-->
      <table_bins>0.002</table_bins>
      <!-- cut the potential at this value (gromacs bug) -->
      <pot_max>1000000</pot_max>
      <!-- extend the tables to this value -->
      <table_end>3.0</table_end>
    </gromacs>
    <!-- these files are copied for each new run -->
    <filelist>spce.data spce.in topol.xml spce.pdb</filelist>
    <!-- do so many iterations -->
    <iterations_max>300</iterations_max>
    <!-- ibm: inverse boltzmann imc: inverse monte carlo -->
    <method>optimizer</method>
    <optimizer>
      <type>simplex</type>
    </optimizer>
    <!-- write log to this file -->
    <log_file>inverse.log</log_file>
    <!-- write restart step to this file -->
  </inverse>
</cg>
