name: CI
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    - cron:  '0 5 * * FRI'

concurrency:
  group: ${ {github.event_name }}-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{github.event_name == 'pull_request'}}

jobs:
  CI:
    # Ubuntu devel, Fedora Rawhide and some other in the matrix are allowed to fail, so continue with other builds
    continue-on-error: ${{ matrix.distro == 'ubuntu:devel' || matrix.distro == 'opensuse:latest' || matrix.distro == 'fedora:rawhide' || matrix.distro == 'ubuntu:intel' || matrix.continue-on-error == true }}
    strategy:
      matrix:
        distro: ['fedora:latest', 'fedora:rawhide', 'opensuse:latest', 'ubuntu:latest', 'ubuntu:devel', 'ubuntu:rolling', 'ubuntu:intel']
        toolchain: [gnu, clang]
        cmake_build_type: [Release, Debug]
        minimal: [false]
        own_gmx: [false]
        coverage: [false]
        deploy: [false]
        include:
          - distro: 'fedora:latest'
            toolchain: gnu
            cmake_build_type: Release
            minimal: false
            own_gmx: false
            coverage: false
            # make sure there is only one build deploying
            deploy: true
          - distro: 'fedora:nogmx'
            toolchain: gnu
            cmake_build_type: Release
            minimal: true
          - distro: 'fedora:nogmx'
            toolchain: clang
            cmake_build_type: Release
            minimal: true
          - distro: 'fedora:nogmx'
            toolchain: gnu
            cmake_build_type: Release
            own_gmx: true
          - distro: 'ubuntu:intel'
            toolchain: intel-oneapi
            cmake_build_type: Release
          - distro: 'ubuntu:intel'
            toolchain: intel-oneapi
            cmake_build_type: Debug
          - distro: 'fedora:gmx2019'
            toolchain: gnu
            cmake_build_type: Release
          - distro: 'fedora:gmx2019'
            toolchain: clang
            cmake_build_type: Release
          - distro: 'fedora:gmxpkg'
            toolchain: gnu
            cmake_build_type: Release
          - distro: 'fedora:gmxpkg'
            toolchain: clang
            cmake_build_type: Release
          - distro: 'fedora:gmx2024'
            toolchain: gnu
            cmake_build_type: Release
          - distro: 'fedora:gmx2024'
            toolchain: clang
            cmake_build_type: Release
          - distro: 'fedora:gmx2024_d'
            toolchain: gnu
            cmake_build_type: Release
          - distro: 'fedora:gmx2024_d'
            toolchain: clang
            cmake_build_type: Release
          - distro: 'fedora:gmx9999'
            toolchain: gnu
            cmake_build_type: Release
            continue-on-error: true
          - distro: 'fedora:gmx9999'
            toolchain: clang
            cmake_build_type: Release
            continue-on-error: true
          - distro: 'fedora:gmx9999_d'
            toolchain: gnu
            cmake_build_type: Release
            continue-on-error: true
          - distro: 'fedora:gmx9999_d'
            toolchain: clang
            cmake_build_type: Release
            continue-on-error: true
          - distro: 'fedora:latest'
            toolchain: gnu
            cmake_build_type: Debug
            coverage: 'Group1'
          - distro: 'fedora:latest'
            toolchain: gnu
            cmake_build_type: Debug
            coverage: 'Group2'
          - distro: 'fedora:latest'
            toolchain: gnu
            cmake_build_type: Debug
            coverage: 'Group3'
          - distro: 'fedora:latest'
            toolchain: gnu
            cmake_build_type: Debug
            coverage: 'RestGroup'
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/votca/buildenv/${{ matrix.distro }}
      # https://bugzilla.redhat.com/show_bug.cgi?id=1900021
      options: --security-opt seccomp=unconfined
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run Votca Setup
        id: setup #use this id below to use outputs
        uses: ./.github/actions/setup
        with:
          distro: ${{ matrix.distro }}
          toolchain: ${{ matrix.toolchain }}
          minimal: ${{ matrix.minimal == true }}
          own_gmx: ${{ matrix.own_gmx == true }}
          regression_testing: ${{ matrix.deploy != true }}
          coverage: ${{ matrix.coverage }}
          cmake_build_type: ${{ matrix.cmake_build_type }}
          ctest_args: ${{ matrix.ctest_args }}
          cmake_args: ${{ matrix.cmake_args }}
      - uses: actions/cache@v4
        with:
          path: ~/.cache/ccache
          key: ${{ steps.setup.outputs.cache_key }}
          restore-keys: ${{ steps.setup.outputs.cache_restore_key }}
      - name: CMake
        run: cmake -B builddir -S . ${{ steps.setup.outputs.cmake_args }}
      - name: Build
        run: |
          ccache -z
          cmake --build builddir -- -j ${{ steps.setup.outputs.jobs }}
          ccache -v -s
      - name: Tests
        run: ctest --output-on-failure ${{ steps.setup.outputs.ctest_args }}
        working-directory: builddir
      - name: Upload Report to codecov.io
        if: ${{ matrix.coverage }}
        uses: codecov/codecov-action@v4
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      - name: Doxygen
        run: cmake --build builddir --target doxygen
      - name: Build Sphinx
        if: ${{ steps.setup.outputs.build_sphinx == 'true' }}
        run: cmake --build builddir --target sphinx
      - name: Test DESTDIR Install
        run: DESTDIR=${PWD}/install cmake --build builddir --target install && rm -rf ${PWD}/install/usr && rmdir ${PWD}/install
      - name: Install
        run: sudo LD_LIBRARY_PATH=$LD_LIBRARY_PATH cmake --build builddir --target install
      - name: Check for untracked files
        run: git status --porcelain && git status --porcelain | sed Q1
      - name: Check Formatting
        if: ${{ steps.setup.outputs.check_format == 'true' }}
        run: cmake --build builddir --target format && git diff --exit-code
      - name: Checkout Doxygen repo
        if: ${{ matrix.deploy }}
        uses: actions/checkout@v4
        with:
          repository: votca/doxygen
          path: builddir/devdoc
          token: ${{ secrets.VOTCA_BOT_TOKEN || github.token }}
      - name: Checkout Website repo
        if: ${{ matrix.deploy }}
        uses: actions/checkout@v4
        with:
          repository: votca/votca.github.io
          path: builddir/userdoc
          token: ${{ secrets.VOTCA_BOT_TOKEN || github.token }}
      - name: Deploy Doxygen and Website
        if: ${{ matrix.deploy && github.repository_owner == 'votca' && steps.setup.outputs.build_sphinx == 'true' }}
        run: ${GITHUB_WORKSPACE}/.github/workflows/deploy.sh
        working-directory: builddir
