name: Coverage
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

concurrency:
  group: ${ {github.event_name }}-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{github.event_name == 'pull_request'}}

jobs:
  Coverage:
    strategy:
      matrix:
        distro: ['fedora:latest']
        toolchain: [gnu]
        cmake_build_type: [Debug]
        coverage: [Group1, Group2, Group3, RestGroup]
    runs-on: ubuntu-latest
    container: ghcr.io/votca/buildenv/${{ matrix.distro }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Run Votca Setup
        id: setup
        uses: ./.github/actions/setup
        with:
          distro: ${{ matrix.distro }}
          toolchain: ${{ matrix.toolchain }}
          minimal: ${{ matrix.minimal == true }}
          module: ${{ matrix.module_build == true }}
          own_gmx: ${{ matrix.own_gmx == true }}
          regression_testing: ${{ matrix.no_regression_testing != true }}
          coverage: ${{ matrix.coverage }}
          cmake_build_type: ${{ matrix.cmake_build_type }}
          ctest_args: ${{ matrix.ctest_args }}
          cmake_args: ${{ matrix.cmake_args }}
      - uses: actions/cache@v2
        with:
          path: ~/.ccache
          key: ${{ steps.setup.outputs.cache_key }}
          restore-keys: ${{ steps.setup.outputs.cache_restore_key }}
      - name: CMake
        run: cmake -B builddir -S . ${{ steps.setup.outputs.cmake_args }}
      - name: Build
        run: |
          ccache -z
          cmake --build builddir -- -j ${{ steps.setup.outputs.jobs }}
          ccache -s
      - name: Tests
        run: ctest --output-on-failure ${{ steps.setup.outputs.ctest_args }}
        working-directory: builddir
      - name: Upload Report to codecov.io
        if: ${{ matrix.coverage }}
        uses: codecov/codecov-action@v1
