name: Docker
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    - cron:  '0 5 * * FRI'

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.2.0
        with:
          submodules: true
          path: votca
      - name: Debug
        run: |
          pwd
          ls
      - name: Build Docker images
        uses: docker/build-push-action@v1.1.0
        with:
          repository: votca/votca
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          dockerfile: votca/.github/workflows/Dockerfile
          tag_with_ref: true
          push: ${{ github.event_name == 'push' ||  github.event_name == 'schedule' }}
