<cg>
  <non-bonded>
    <name>CG-CG</name>
    <type1>CG</type1>
    <type2>CG</type2>
    <min>0.0</min>
    <max>1.0</max>
    <step>0.01</step>
    <inverse>
      <target>CG-CG.dist.tgt</target>
      <do_potential>1</do_potential>
      <post_update />
      <post_add />
      <gromacs>
        <table>table_CG_CG.xvg</table>
      </gromacs>
      <imc>
        <group>1</group>
      </imc>
      <post_add />
    </inverse>
  </non-bonded>
  <inverse>
    <kBT>2.494338785445972</kBT>
    <program>gromacs</program>
    <gromacs>
      <equi_time>20</equi_time>
      <table_bins>0.002</table_bins>
      <pot_max>1000000</pot_max>
      <table_end>1.9</table_end>
    </gromacs>
    <filelist>grompp.mdp topol.top table.xvg index.ndx</filelist>
    <iterations_max>10</iterations_max>
    <method>iie</method>
    <scriptpath />
    <log_file>inverse.log</log_file>
    <restart_file>restart_points.log</restart_file>
    <iie>
      <initial_guess>
        <method>ie</method>
        <closure>hnc</closure>
      </initial_guess>
      <method>gauss-newton</method>
      <closure>hnc</closure>
      <pressure_constraint>1.0</pressure_constraint>
      <g_extrap_factor>2</g_extrap_factor>
      <densities>33.282665416237094</densities>
      <n_intra>1</n_intra>
      <cut_off>0.9</cut_off>
      <!-- Power extrapolation is neccesary to have stable iterations when using
      pressure constraint and a fine grid. With the coarse grid used here it
      is not neccesary. If used it will cause the pressure to be off by
      ~1000 bar. -->
      <extrap_near_core>constant</extrap_near_core>
      <fix_near_cut_off>none</fix_near_cut_off>
    </iie>
  </inverse>
</cg>
